# webstorm internal
.idea

# build directories
.marko-migrate-backup
.coverage
coverage
dist
.test
*.log
*.marko.js
/static
.cache
.beans
.docs
.gh_pages

# browser-refresh junk
oom_*
restarts_*
.telemetry.json
# npm debug log
npm-debug.log

# node modules folder
node_modules
/shots/units/screenshots/*.png
/shots/units/**/failed
