
<!doctype html>
<html>
    <head>
        <style>
            body {
                width: 100%;
                height: 100%;
                position: fixed;
                background-color: #34495e;
                font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
            }

            .content {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 20px 0;
                overflow:hidden;
                background-color: rgba(0,0,0,0.5);
                text-align: center;
                
                font-size: 3.8vh;
                line-height: 4.4vh;
                color: #ecf0f1;
            }
        </style>
    </head>
    <body>
        <div class="content">
                Something is terribly wrong with the site! </br></br>
                Fortunately we have this video to keep you </br>
                entertained until we fix it! 
        </div>
        <iframe src="https://www.youtube.com/embed/QH2-TGUlwu4?autoplay=1&loop=1&modestbranding=1&rel=0&theme=light&controls=0" width="100%" height="100%" frameborder="0"></iframe>    
    </body>
</html>